<div class="container m-3 " id="main">
    <h1 class="m-2" style="font-weight: bolder;">Hello {{name}}</h1>
    <h2 class="m-2">Hope you are doing good.</h2>
    <br>
    <h3 class="m-2">To see your profile, click here</h3>
    <a class="nav-link" style ="font-weight: bold; font-size: 25px;" routerLink="../user-profile">View Profile</a>

   <h3 class="m-2">To start the quiz, click here</h3>
    <a class="nav-link" style ="font-weight: bold; font-size: 25px;" routerLink="../user-quiz">Start Quiz</a>

</div>